.menu-lateral {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100vh;
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-fixo {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #444;
  width: 100%;
}

.toggle-botao {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menu-expansivel {
  display: none;
  flex-grow: 1;
  overflow: hidden;
}

.menu-expansivel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-expansivel ul li {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.menu-expansivel ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  font-size: 14px;
}

.menu-expansivel a {
  padding: 5px;
}

.menu-expansivel ul li a:hover {
  background-color: #555;
}

.menu-lateral.mostrarMenu {
  padding-right: 10px;
}

.menu-lateral.mostrarMenu .menu-expansivel {
  display: block;
}

.logout {
  display: grid;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: white;
  width: 100%;
  background-color: #34035a;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.logout:hover {
  background-color: #524958;
}

@media (max-width: 450px) {
  .menu-expansivel ul li a {
    font-size: 10px;
  }

  .logout {
    font-size: 10px;
  }
}
