<div>
  <main>
    <section class="pesquisa-container">



      <div class="pesquisa">
        <input type="text" [(ngModel)]="textoPesquisa">
        <button (click)="pesquisar()">Pesquisar</button>
      </div>

      <div class="cards-pesquisa">
        <div class="pesquisa-card" *ngFor="let usuario of listagemUsuariosPesquisa">
          <p>{{usuario.id}}</p>
          <p>{{usuario.nome}}</p>
          <p>{{usuario.telefone}}</p>
          <a [href]="usuario.acao">Ver mais</a>
        </div>
      </div>

    </section>
  </main>
</div>